html,
body {
    height: 100%;
}

body {
    background: rgb(32,64,162);
    background: linear-gradient(131deg, rgba(32,64,162,1) 0%, rgba(65,105,225,1) 35%, rgb(84, 108, 179) 100%);
}

nav {
    border-radius: 0 0 1em 1em;
}

.profile-drop {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    padding-bottom: 0 !important;
}

.log-out {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding: .375rem .75rem !important;
}

.log-out:hover {
    background-color: rgba(255, 0, 0, .25) !important;
    color: #111 !important;
}

main {
    margin-top: 10em;    
}

.delete:hover {
    background-color: transparent !important;
    color: #a00 !important;
    text-shadow: 0 0 50px #aaa;
}

#inputPublicKey {
    font-size: .9em;
    font-family: monospace;
}

#toggleMemoBtn {
    line-height: 2.5rem;
    text-align: center;
    font-size: .8em;
}